---
/* eslint-disable-next-line import/no-unresolved */
import { getCollection } from "astro:content";
import { PaperLink } from "@cieloazul310/astro-sarkara";
import { vstack } from "styled-system/patterns";

const categories = await getCollection("microCMSCategories");
---

<nav class={vstack({ gap: 2, alignItems: "stretch" })}>
  {
    categories.map(({ id, data }) => (
      <PaperLink href={`/microcms/categories/${id}`}>{data.name}</PaperLink>
    ))
  }
</nav>
