---
import { vstack } from "../../../styled-system/patterns";
import PaperLink from "../../components/PaperLink.astro";

const menu = [
  { name: "Top", path: "/" },
  { name: "Posts", path: "/posts/" },
];
---

<slot name="sidebar-top" />
<nav
  class={vstack({
    gap: 2,
    display: ["none", "none", "flex"],
    alignItems: "stretch",
  })}
>
  {menu.map(({ name, path }) => <PaperLink href={path}>{name}</PaperLink>)}
</nav>
<slot name="sidebar-bottom" />
