---
import Layout from "../layout/index.astro";
import Paper from "../components/Paper.astro";
---

<Layout>
  <h1 slot="jumbotron">アストロ</h1>
  <Paper>
    <h2>This is Paper</h2>
    <p>Lorem ipsum.</p>
  </Paper>
</Layout>
