---
import { css, cx, type RecipeVariantProps } from "../../styled-system/css";
import { badge } from "../utils";
import type { PropertyTypes } from "../../styled-system/types/prop-type";

type Props = RecipeVariantProps<typeof badge> & {
  colorPalette?: PropertyTypes["colorPalette"];
};
const { size, colorPalette = "neutral" } = Astro.props;
---

<span class={cx(css({ colorPalette }), badge({ size }))}>
  <slot />
</span>
