---

---

<div class="hamburger" role="button">
  <span class="line"></span>
  <span class="line"></span>
  <span class="line"></span>
</div>
<style>
  .hamburger {
    width: 32px;
    height: 32px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
  }

  .hamburger .line {
    display: block;
    width: 24px;
    height: 4px;
    margin: 2px auto;
    background-color: rgb(var(--text-light));
  }
</style>
