---

---

<div class="jumbotron">
  <slot />
</div>
<style>
  .jumbotron {
    padding: 16px 8px;
    background-image: linear-gradient(
      90deg,
      rgb(var(--primary)),
      rgba(var(--secondary), 0.4)
    );
  }
</style>
