---
import type { HTMLAttributes } from "astro/types";
import useLink from "../utils/useLink";

interface Props extends HTMLAttributes<"a"> {
  className?: string;
  pathPrefix?: boolean;
}

const { href, className, pathPrefix, ...props } = Astro.props;
const link = useLink(href, { prefix: pathPrefix });
---

<a class={className} {...link} {...props}>
  <slot />
</a>
