---
import type { HTMLAttributes } from "astro/types";
import { paper } from "../../styled-system/patterns";
import useLink from "../utils/useLink";

interface Props extends HTMLAttributes<"a"> {
  pathPrefix?: boolean;
}

const { href, pathPrefix, ...attrs } = Astro.props;
const link = useLink(href, { prefix: pathPrefix });
---

<a
  class={paper({
    hover: true,
    display: "inline-flex",
    minHeight: "48px",
    fontWeight: "bold",
    justifyContent: "center",
    alignItems: "center",
    height: 10,
  })}
  role="button"
  {...link}
  {...attrs}
>
  <slot />
</a>
