---
import type { HTMLAttributes } from "astro/types";
import { css, cx } from "../../styled-system/css";
import { paper } from "../../styled-system/patterns";
import { useLink } from "../utils";
import type { PropertyTypes } from "../../styled-system/types/prop-type";

interface Props extends HTMLAttributes<"a"> {
  className?: string;
  disablePrefix?: boolean;
  colorPalette?: PropertyTypes["colorPalette"];
}

const {
  className,
  href,
  disablePrefix,
  colorPalette = "primary",
  ...attrs
} = Astro.props;
const link = useLink(href, { disablePrefix });
---

<a
  class={cx(
    css({ colorPalette }),
    paper({
      hover: true,
      display: "inline-flex",
      minHeight: "48px",
      fontWeight: "bold",
      justifyContent: "center",
      alignItems: "center",
      height: 10,
    }),
    className,
  )}
  role="button"
  {...link}
  {...attrs}
>
  <slot />
</a>
