---
import type { HTMLAttributes } from "astro/types";
import { css } from "../../styled-system/css";

type Props = HTMLAttributes<"a">;

const { href, ...attrs } = Astro.props;
---

<a
  class={css({
    p: [4, 8],
    background: "blue.50",
    rounded: "xl",
    minHeight: "48px",
    fontWeight: "bold",
    textAlign: "center",
    _hover: {
      background: "blue.100",
      textDecoration: "none",
    },
  })}
  role="button"
  href={href}
  {...attrs}
>
  <slot />
</a>
