---
import { css, cx } from "../../styled-system/css";
import { paper } from "../../styled-system/patterns";
import type { PropertyTypes } from "../../styled-system/types/prop-type";

export interface Props {
  className?: string;
  colorPalette?: PropertyTypes["colorPalette"];
}

const { className, colorPalette = "primary" } = Astro.props;
---

<div class={cx(css({ colorPalette }), paper(), className)}>
  <slot />
</div>
