---
import type { HTMLAttributes } from "astro/types";
import { paper } from "../../styled-system/patterns";

type Props = HTMLAttributes<"a">;

const { href, ...attrs } = Astro.props;
---

<a
  class={paper({
    hover: true,
    display: "inline-flex",
    minHeight: "48px",
    fontWeight: "bold",
    justifyContent: "center",
    alignItems: "center",
    height: 10,
  })}
  role="button"
  href={href}
  {...attrs}
>
  <slot />
</a>
