---
import { cx } from "../../styled-system/css";
import { paper } from "../../styled-system/patterns";

export interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<div class={cx(paper(), className)}>
  <slot />
</div>
