---
import PaperLink from "./PaperLink.astro";
import { vstack } from "../../styled-system/patterns";
import usePostsYears from "../utils/usePostsYears";
import type { MarkdownFrontmatter } from "../types";

const allPosts = await Astro.glob<MarkdownFrontmatter>(
  "../pages/posts/**/*.md",
);
const years = usePostsYears(allPosts);
---

<nav class={vstack({ gap: 2, alignItems: "stretch" })}>
  {years.map((year) => <PaperLink href={`/posts/${year}`}>{year}年</PaperLink>)}
</nav>
