---
import { hstack, flex } from "../../../styled-system/patterns";
import Button from "../../components/Button.astro";
import ColorModeButton from "../../components/ColorModeButton.astro";
import Link from "../../components/Link.astro";
---

<footer
  class={flex({
    height: 14,
    flexShrink: 0,
    direction: "row",
    alignItems: "center",
    justifyContent: "space-between",
    px: 4,
  })}
>
  <ColorModeButton />
  <div class={hstack({ gap: 2 })}>
    <Link href="/">
      <Button colorPalette="primary">Top</Button>
    </Link>
    <Button className="drawer-handler" colorPalette="slate">Close</Button>
  </div>
</footer>
