---
import { css } from "../../../styled-system/css";
import { flex } from "../../../styled-system/patterns";
import Link from "../../components/Link.astro";

export interface Props {
  siteTitle?: string;
}

const { siteTitle } = Astro.props;
---

<header
  class={flex({
    height: 14,
    flexShrink: 0,
    direction: "row",
    alignItems: "center",
    px: 4,
  })}
>
  <Link href="/">
    <h1 class={css({ fontSize: "lg" })}>{siteTitle ?? "Drawer"}</h1>
  </Link>
</header>
