---
import { css } from "../../../styled-system/css";
import { flex } from "../../../styled-system/patterns";

interface Props {
  siteTitle?: string;
}

const { siteTitle } = Astro.props;
---

<header
  class={flex({
    height: 14,
    flexShrink: 0,
    direction: "row",
    alignItems: "center",
    px: 4,
  })}
>
  <a href="/">
    <h1 class={css({ fontSize: "lg" })}>{siteTitle ?? "Drawer"}</h1>
  </a>
</header>
