---
import Layout from "../layout/index.astro";
import Paper from "../components/Paper.astro";
import PaperLink from "../components/PaperLink.astro";
import Link from "../components/Link.astro";
import parseDate from "../utils/parseDate";
import type { MarkdownFrontmatter } from "../types";

const allPosts = await Astro.glob<MarkdownFrontmatter>("../pages/posts/*.md");

interface Props {
  frontmatter?: MarkdownFrontmatter;
}

const { frontmatter } = Astro.props;
---

<Layout
  title={frontmatter?.title ?? "Post"}
  description={parseDate(frontmatter?.date)}
>
  <Paper>
    <slot />
  </Paper>
  <Paper slot="sidebar-bottom">
    <h6>記事一覧</h6>
    <ul>
      {
        allPosts
          .sort(
            (a, b) =>
              new Date(b.frontmatter?.date ?? 0).getTime() -
              new Date(a.frontmatter?.date ?? 0).getTime(),
          )
          .map((post) => (
            <li>
              <Link href={post.url} disablePrefix>
                {post.frontmatter.title}
              </Link>
            </li>
          ))
      }
    </ul>
  </Paper>
  <PaperLink href="/posts/">Markdown Posts Top</PaperLink>
</Layout>
