---
import { css, cx } from "../../styled-system/css";
---

<div
  class={css({
    display: ["block", "block", "none"],
    position: "fixed",
    bottom: 4,
    right: 4,
    zIndex: "fab",
  })}
>
  <button
    class={cx(
      css({
        width: "56px",
        height: "56px",
        background: {
          base: "primary.400",
          _hover: "primary.500",
          _dark: "primary.700",
        },
        border: "none",
        rounded: "xl",
        shadow: { base: "md", _hover: "lg" },
        p: 8,
        transition: "background .25s",
      }),
      "drawer-handler",
    )}
  >
    <div class="hamburger">
      <span class="hamburger-line"></span>
      <span class="hamburger-line"></span>
      <span class="hamburger-line"></span>
    </div>
  </button>
</div>
<style>
  .hamburger {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
  }
  .hamburger .hamburger-line {
    display: block;
    width: 100%;
    height: 4px;
    background-color: rgb(var(--text-white));
  }
</style>
