---
import { css } from "../../styled-system/css";
import IconButton from "../components/IconButton.astro";
---

<div
  class={css({
    display: ["block", "block", "none"],
    position: "fixed",
    bottom: 4,
    right: 4,
    zIndex: "fab",
  })}
>
  <IconButton
    className="drawer-handler"
    colorPalette="primary"
    icon="mdi:menu"
    aria-label="Open drawer"
  />
</div>
