---
import { css, cx } from "../../styled-system/css";
import { square } from "../../styled-system/patterns";
---

<div
  class={css({
    display: ["block", "block", "none"],
    position: "fixed",
    bottom: 4,
    right: 4,
    zIndex: "fab",
  })}
>
  <button
    class={cx(
      square({
        size: 12,
        bg: { base: "primary.600", _hover: "primary.700" },
        color: "white",
        border: "none",
        rounded: "xl",
        shadow: { base: "md", _hover: "lg" },
        p: 8,
        transition: "background .25s",
        _dark: { bg: { base: "primary.700", _hover: "primary.600" } },
      }),
      "drawer-handler",
    )}
  >
    <div class="hamburger">
      <span class="hamburger-line"></span>
      <span class="hamburger-line"></span>
      <span class="hamburger-line"></span>
    </div>
  </button>
</div>
<style>
  .hamburger {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
  }
  .hamburger .hamburger-line {
    display: block;
    width: 100%;
    height: 4px;
    background-color: rgb(var(--text-white));
  }
</style>
