---
import { Icon } from "astro-icon";
import { css, cx } from "../../styled-system/css";
import { square } from "../../styled-system/patterns";
---

<div
  class={css({
    display: ["block", "block", "none"],
    position: "fixed",
    bottom: 4,
    right: 4,
    zIndex: "fab",
  })}
>
  <button
    class={cx(
      square({
        size: 14,
        bg: { base: "primary.600", _hover: "primary.700" },
        color: "white",
        border: "none",
        rounded: "xl",
        cursor: "pointer",
        shadow: { base: "md", _hover: "lg" },
        transition: "background .25s",
        _dark: { bg: { base: "primary.700", _hover: "primary.600" } },
      }),
      "drawer-handler",
    )}
    aria-label="Open drawer"
  >
    <Icon name="mdi:menu" class={square({ size: 10 })} />
  </button>
</div>
