---
import { css } from "../../styled-system/css";

interface Props {
  siteTitle: string;
}

const { siteTitle } = Astro.props;
const year = new Date().getFullYear().toString();
---

<footer
  class={css({
    display: "flex",
    flexDirection: "column",
    alignItems: "center",
    gap: 2,
    py: 16,
    bgGradient: "to-t",
    gradientFrom: { base: "primary.300", _dark: "primary.800" },
    gradientTo: { base: "bg", _dark: "bg.dark" },
  })}
>
  <slot>
    <h6 class={css({ fontSize: "md" })}>{siteTitle}</h6>
    <p>© {year} {siteTitle} All rights reserved.</p>
  </slot>
</footer>
