---
import { css } from "../../styled-system/css";
import { gradientBox } from "../../styled-system/patterns";
import ColorModeButton from "../components/ColorModeButton.astro";
import Link from "../components/Link.astro";

interface Props {
  siteTitle: string;
}

const { siteTitle } = Astro.props;
---

<header
  class={gradientBox({
    position: "sticky",
    top: 0,
    height: "headerHeight",
    px: 4,
    display: "flex",
    alignItems: "center",
    justifyContent: ["center", "start"],
    zIndex: "header",
  })}
>
  <slot>
    <Link
      href="/"
      className={css({
        color: "white",
        _hover: {
          color: "primary.200",
          textDecoration: "none",
        },
      })}
    >
      <h1 class={css({ fontSize: "xl" })}>{siteTitle}</h1>
    </Link>
    <div class={css({ flexGrow: 1, hideBelow: "sm" })}></div>
    <div class={css({ hideBelow: "sm" })}>
      <ColorModeButton />
    </div>
  </slot>
</header>
