---
import { css } from "../../styled-system/css";
import { gradientBox, container } from "../../styled-system/patterns";

interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<header
  class={gradientBox({
    p: [4, 8],
    height: "480px",
    display: "flex",
    alignItems: "center",
    justifyContent: "center",
    color: "white",
  })}
>
  <div
    class={container({
      maxWidth: "contentMaxWidth",
      display: "flex",
      flexDirection: "column",
    })}
  >
    <slot>
      <h1
        class={css({
          fontSize: ["2xl", "4xl", "4xl", "5xl"],
        })}
      >
        {title}
      </h1>
      <p class={css({ fontSize: "md", fontWeight: "bold" })}>
        {description}
      </p>
    </slot>
  </div>
</header>
