---

---

<div class="jumbotron">
  <div class="jumbotron-inner">
    <slot />
  </div>
</div>
<style>
  .jumbotron {
    height: 25vh;
    min-height: 160px;
    padding: 8px 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
      90deg,
      rgb(var(--primary)),
      rgba(var(--secondary), 0.4)
    );
    color: rgb(var(--text-white));
  }
  @media screen and (max-width: 480px) {
    .jumbotron {
      height: calc(50vh - var(--header-height));
    }
  }
  .jumbotron-inner {
    margin: 0 auto;
    padding: 16px;
    max-width: var(--content-max-width);
  }
</style>
