---
import { vstack } from "../../styled-system/patterns";
import PaperLink from "../components/PaperLink.astro";

const menu = [
  { name: "Top", path: "/" },
  { name: "About", path: "/about/" },
  { name: "Posts", path: "/posts/" },
];
---

<nav
  class={vstack({
    gap: 2,
    alignItems: "stretch",
  })}
>
  {menu.map(({ name, path }) => <PaperLink href={path}>{name}</PaperLink>)}
</nav>
