---
import { vstack } from "../../styled-system/patterns";
import PaperLink from "../components/PaperLink.astro";
import menu from "../data/menu";
---

<nav
  class={vstack({
    gap: 2,
    alignItems: "stretch",
  })}
>
  {menu.map(({ name, path }) => <PaperLink href={path}>{name}</PaperLink>)}
</nav>
